<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.mobilemarcom">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
    <activity
        android:name=".MainActivity"
        android:label="@string/title_activity_main"
        android:theme="@style/AppTheme.NoActionBar"></activity>
    <activity android:name="com.android.mobilemarcom.LoginActivity"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".t_souvenir.TransaksiSouvenirActivity" />
    <activity android:name=".souvenir.SouvenirDaftarActivity" />
    <activity android:name=".t_souvenir.TransaksiSouvenirDaftarActivity" />
    <activity android:name=".souvenir.EditSouvenirActivity" />
    <activity android:name=".employee.EmployeeTable"></activity>
    <activity android:name=".t_souvenir.TransaksiSouvenirAddItemActivity"></activity>
    </application>
    </manifest>